*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: white;
}


main{
    width: 100%;
    height: 600px;
    background-image: url(image/raya.jpg);
    background-size: cover;
}

main h1{
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    margin-top: 54px;
    margin-left: 60px;
}

.entrar{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 1020px;
    margin-top: 0;
    background: rgba(0,0,0,.6);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5PX;
    border: 1px solid white;
}

.entrar:hover{
    background: white;
    color: black;
}

main img{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo {
    width: 330px;
    height: 160px;
    margin-top: 25px;
    margin-left: 150px;
    margin-bottom: 30px;
}

.assine{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background: #0063e5;
    color: white;
    border-radius: 4px;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 180px;
    padding-right: 160px;
}

.assine:hover{
    background: #1a79f5;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgba(148, 148, 148, 0.8);
    margin-top: 35px;
    margin-left: 150px;
    margin-bottom: 40px;
}

.assinar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 220px;
}

.p2{
    color: rgba(148, 148, 148, 0.8);
    margin-top: 10px;
    margin-left: 165px;
}

.section{
    background: rgb(7, 7, 19);
    padding: 20rem 0;
}

.section h1{
    font-size: 30px;
    margin-top: 150px;
    margin-left: 50px;
    margin-bottom: 30px;
    position: relative;
}

.section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(148, 148, 148, 0.8);
    margin-left: 50px;
    max-width: 550px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

img{
    width: 100%;
    margin-top: 150px;
}

h2{
    font-size: 35px;
    position: relative;
    top: 200px;
    left: 420px;
}

.originais p{
    font-size: 15px;
    position: relative;
    top: 220px;
    left: 375px;
}

.img-leão{
    margin-top: 300px;
    position: relative;
    width: 200%;
    height: 50%;
}

.img-leão h3{
    font-size: 30px;
    position: absolute;
    top: 480px;
    right: 300px;
}

.img-leão p{
    position: absolute;
    top: 540px;
    right: 45px;
}

.star {
    margin-top: 1800px;
}




